---
import type Post from "@entities/Post";

export interface Props {
  data: Post;
}

const { data }: Props = Astro.props;
const { title, description, slug, image } = data;
const date = new Date(data.date).toLocaleDateString();
---

<style>
  .blog-post-home-entry {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: transform 0.2s ease-in-out;
    gap: 8px;
  }
  .blog-post-home-entry {
    width: 14rem;
    height: 21rem;
    background-color: var(--lighter-color);
    padding: 25px;
    border-radius: 5%;
    font-family: var(--font-heading);
  }
  .blog-post-home-entry-desc {
    line-clamp: 4;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    text-align: justify;
    text-justify: space-between;
    text-align-last: center;
    display: -webkit-box;
    overflow: hidden;
    word-break: break-word;
    pointer-events: none;
  }
  .blog-post-home-entry-image {
    width: 96px;
    height: 96px;
    padding: 1rem;
    background-color: var(--lighter-color);
    border-radius: 10%;
  }
  .blog-post-home-entry-title {
    font-family: var(--font-nav);
    color: var(--accent-color);
  }
  .blog-post-home-entry-date {
    font-family: var(--font-primary);
    font-size: 0.75rem;
  }
</style>

<li>
  <a
    class="blog-post-home-entry hover-shadow ui-sound-listener ux-click-effect"
    href={`/blog/posts/${slug}`}
  >
    <img class="blog-post-home-entry-image" src={image} alt="[...]" />
    <span class="blog-post-home-entry-title">{title}</span>
    <span class="blog-post-home-entry-date">{date}</span>
    <p class="blog-post-home-entry-desc">{description}</p>
  </a>
</li>
